/**** Mobile Styles ****/


/*** Global Styles ***/ 
body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #000000;
  margin: 0;
  width: 1350px;
}

.content-wrapper {
    width: 1350px;
    margin: 0 auto;
    overflow: auto;
}


/*** Header Styles ***/
.homepage-hero .content-wrapper {
    height: 2100px;
    width: 1300px;
    margin: 0;
}


header h2 {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 600;
    clear: both;
    font-size: 120px;
    margin: 0;
    padding: 900px 0px 0px 70px;
    color: white;
}

.typed-fade-out span {
    color: #2f81f7;
}

.blue {
    color: #2f81f7;
    transition: all 0.2s;
}


header h3 {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 45px;
    margin: 40px 0 0 60px;
    color: white;
    width: 1220px;
    text-align: center;
}

.button-wrapper {
  border: 6px solid #2f81f7;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 500px;
  margin: 40px 0 0 410px;
  animation-name: moveInBottom;
  animation-duration: 0.7s;
  animation-delay: 2.5s;
  animation-fill-mode: backwards;
  cursor: pointer;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(4rem);
  }

  100% {
      opacity: 1;
      transform: translateY(0)
  }
}

.button-wrapper a {
  padding-left: 50px;
  margin: 0;
  color: #2f81f7;
  text-decoration: none;
  font-size: 40px;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 20px;
    align-items: center;
    float: right;
    background-color: #1a1f24;
    width: 1260px;
    position: fixed;
    padding: 30px 0;
    z-index: 20;
    left: 45px;
    margin: 20px 0 0 0;
  }

  
  .value {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
    margin: 0px 40px;
  }
  
  .value:not(:active):hover,
  .value:focus {
    background-color: #2b323a;
  }
  
  .value:focus,
  .value:active {
    background-color: #2b333b;
    outline: none;
  }
  
  .value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 80%;
    background-color: #2f81f7;
    border-radius: 5px;
    opacity: 0;
  }

  
  .value:focus::before,
  .value:active::before,
  .value:hover::before {
    opacity: 1;
  }
  
  .value svg {
    width: 2px;
  }

  .input .value a {
    font-size: 40px;
    font-family: "Space Grotesk", sans-serif;
    margin: 0px;
    text-decoration: none;
    color: white;
    font-weight: 500;
  }


  #particles-js {
    position: absolute;
    width: 1300px;
    height: 12000px;
    background-color: #00000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    }

    /*** About Me ***/

    .about-me {
      display: flex;
      justify-content: center;
      font-size: 120px;
      color: white;
      width: 1300px;
    }

    .about .content-wrapper {
      width: 1300px;
      height: 1500px;
      padding-top: 300px;
      overflow: hidden;
    }

    #about {
      width: 1300px;
    }


    .about-me::after {
      content: "";
      width: 520px;
      height: 50px;
      background-color: #2f81f7;
      z-index: -1;
      right: -5px;
      top: 2580px;
      position: absolute;
    }

    .about-desc-container,
    .fun-fact-desc-container {
      width: 1100px;
    }

    .desc-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .about-desc, .fun-fact-desc {
      height: 500px;
      font-size: 40px;
      color: white;
      font-weight: 500;
      margin: 0 0 0 180px;
    }

    .fun-fact::after {
      content: "";
      width: 280px;
      height: 40px;
      background-color: #2f81f7;
      z-index: -1;
      right: 150px;
      top: 3339px;
      position: absolute;
    }

    .fun-fact {
      display: flex;
      justify-content: center;
      font-size: 70px;
      color: white;
      width: 1300px;
    }

    .about-desc::before {
      display: flex;
      content: "";
      width: 30px;
      height: 30px;
      background-color: #2f81f7;
      z-index: 10;
      right: 140px;
      top: -50px;
      position: relative;
      border-radius: 50px;
    }

    .about-desc::after {
      display: flex;
      content: "";
      width: 50px;
      height: 49px;
      background-color: #ffffff00;
      z-index: 9;
      right: 149px;
      top: -503px;
      position: relative;
      border-radius: 50px;
      box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px;
    }

    .fun-fact-desc::before {
      display: flex;
      content: "";
      width: 200px;
      height: 1040px;
      z-index: 5;
      right: 730px;
      top: 2710px;
      position: absolute;
      background-color: black;
      animation: animate1 8s ease-in infinite;
      transform-origin: top;
    }

    .fun-fact-desc::after {
      display: flex;
      content: "";
      width: 15px;
      height: 980px;
      background-color: white;
      z-index: 4;
      right: 816px;
      top: 2728px;
      position: absolute;
      transform-origin: top;
      animation: animate 8s ease-out infinite;
      box-shadow: 0 20px 50px 9px #2f81f7;
    }

    .fun-fact::before {
        content: "";
        width: 3px;
        height: 980px;
        right: 822px;
        top: 2729px;
        position: absolute;
        background-color: white;
        z-index: 6;
    }

    @keyframes animate {
      0%,20%
      {
        transform: scaleY(0);
        transform-origin: top;
      }
    }

    @keyframes animate1 {
      0%, 20% 
      {
        transform: scaleY(0);
        transform-origin: top;
      }
    }

/*** Skills section ***/


.skills .content-wrapper {
  padding-top: 0px;
  height: 700px;
}

.skill-list h3 {
  color: white;
  font-size: 35px;
  margin: 10px 0 0 0;
}

.skill-row1,
.skill-row2,
.skill-row3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  justify-content: space-evenly;
  margin: 0 70px 0 70px;
  height: 700px;
}

.skill-rows {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 90px;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: double 3px transparent; 
  background-clip: content-box, border-box;
  background-origin: border-box;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), radial-gradient(circle at top left, white, white);
  border-radius: 20px;
  border-image-slice: 1;
  padding: 4px 4px 4px 4px;
  width: 250px;
  height: 190px;
  box-shadow: 0 0 55px 0px #2f81f7;
}



.skill-list img {
  width: 90px;
}

/*** Projects ***/

#projects .content-wrapper {
  padding-top: 400px;
}

.project-h2 h2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 120px;
    color: white;
    width: 1300px;
    margin: 0 0 2em 0;
}

.project-h2 h2::after {
  content: "";
  width: 450px;
  height: 50px;
  background-color: #2f81f7;
  z-index: -1;
  position: absolute;
  display: flex;
  left: 500px;
  top: 5085px;
}

/* Unplugged */

.unplugged, 
.recipe-app,
.sticky-note,
.rogue-pickings,
.guess-the-word {
  margin-bottom: 100px;
  height: 800px;
}


.projects-lists img {
  height: 370px;
  width: 700px;
}

.projects-lists .img-background {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #1a4685;
  position: relative;
  height: 650px;
  width: 850px;
  z-index: -2;
}

.unplugged-text {
  position: absolute;
  top: 5375px;
  left: 600px;
  width: 670px;
  height: 635px;
  z-index: 1;
  background-color: #181818a6;
  padding: 20px 40px 0 40px;
}

.unplugged-text h3 {
  color: white;
  font-size: 60px;
  margin: 0 0 30px 0;
}

.unplugged-text h4 {
  color: white;
  font-size: 38px;
  font-weight: 500;
}

.unplugged-text a {
  font-family: "montserrat", sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 9px;
  cursor: pointer;
  transition: all 0s;
  padding-left: 30px;
  text-decoration: none;
}

.projects-lists a::after {
  content: "";
  background-color: #2362bb;
  position: absolute;
  height: 10px;
  z-index: 2;
}

.project-link1 a:hover::after {
  transform: scaleY(7.5);
  z-index: -1;
}

.project-link2 a:hover::after {
  transform: scaleY(7.5);
  z-index: -1;
}

.unplugged .project-link1 a::after {
  top: 505px;
  left: 40px;
  width: 320px;
  transition: all 0.25s;
  transform-origin: bottom;
  display: block;
}

.unplugged .project-link2 a::after {
  top: 590px;
  left: 40px;
  width: 430px;
  transition: all 0.25s;
  transform-origin: bottom;
  display: block;
}

.project-link2 {
  margin-top: 40px;
}

.projects-lists {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Recipe app */

.recipe-app {
  display: flex;
  justify-content: flex-end;
}


.recipe-app .img-background {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #1a4685;
  position: relative;
  height: 650px;
  width: 850px;
  z-index: -2;
}

.recipe-app-text {
  position: absolute;
  top: 6275px;
  left: 0px;
  width: 670px;
  height: 635px;
  z-index: 1;
  background-color: #181818a6;
  padding: 20px 40px 0 40px;
}

.recipe-app-text h3 {
  color: white;
  font-size: 60px;
  margin: 0 0 30px 0;
}

.recipe-app-text h4 {
  color: white;
  font-size: 38px;
  font-weight: 500;
}

.recipe-app-text a {
  font-family: "montserrat", sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 9px;
  cursor: pointer;
  transition: all 0s;
  padding-left: 30px;
  text-decoration: none;
}

.recipe-app .project-link1 a::after {
  top: 505px;
  left: 40px;
  width: 320px;
  transition: all 0.25s;
  transform-origin: bottom;
  display: block;
}

.recipe-app .project-link2 a::after {
  top: 590px;
  left: 40px;
  width: 430px;
  transition: all 0.25s;
  transform-origin: bottom;
  display: block;
}

/* Sticky notes */


.img-background {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #1a4685;
  position: relative;
  height: 650px;
  width: 850px;
  z-index: -2;
}

.sticky-note-text {
  position: absolute;
  top: 7178px;
  left: 600px;
  width: 670px;
  height: 635px;
  z-index: 1;
  background-color: #181818a6;
  padding: 20px 40px 0 40px;
}

.sticky-note-text h3 {
  color: white;
  font-size: 60px;
  margin: 0 0 30px 0;
}

.sticky-note-text h4 {
  color: white;
  font-size: 38px;
  font-weight: 500;
  padding-right: 40px;
}

.sticky-note-text a {
  font-family: "montserrat", sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 9px;
  cursor: pointer;
  transition: all 0s;
  padding-left: 30px;
  text-decoration: none;
}

.projects-lists a::after {
  content: "";
  background-color: #2362bb;
  position: absolute;
  height: 10px;
  z-index: 2;
}

.sticky-note .project-link1 a::after {
  top: 505px;
  left: 40px;
  width: 320px;
  transition: all 0.25s;
  transform-origin: bottom;
  display: block;
}

.sticky-note .project-link2 a::after {
  top: 590px;
  left: 40px;
  width: 430px;
  transition: all 0.25s;
  transform-origin: bottom;
  display: block;
}

/* Rogue pickings */

.rogue-pickings {
  display: flex;
  justify-content: flex-end;
}


.rogue-pickings .img-background {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #1a4685;
  position: relative;
  height: 650px;
  width: 850px;
  z-index: -2;
}

.rogue-pickings-text {
  position: absolute;
  top: 8075px;
  left: 0px;
  width: 670px;
  height: 635px;
  z-index: 1;
  background-color: #181818a6;
  padding: 20px 40px 0 40px;
}

.rogue-pickings-text h3 {
  color: white;
  font-size: 60px;
  margin: 0 0 30px 0;
}

.rogue-pickings-text h4 {
  color: white;
  font-size: 38px;
  font-weight: 500;
}

.rogue-pickings-text a {
  font-family: "montserrat", sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 9px;
  cursor: pointer;
  transition: all 0s;
  padding-left: 30px;
  text-decoration: none;
}

.rogue-pickings .project-link1 a::after {
  top: 505px;
  left: 40px;
  width: 320px;
  transition: all 0.25s;
  transform-origin: bottom;
  display: block;
}

.rogue-pickings .project-link2 a::after {
  top: 590px;
  left: 40px;
  width: 430px;
  transition: all 0.25s;
  transform-origin: bottom;
  display: block;
}

/* Guess the word */

.img-background {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #1a4685;
  position: relative;
  height: 650px;
  width: 850px;
  z-index: -2;
}

.guess-the-word-text {
  position: absolute;
  top: 8978px;
  left: 600px;
  width: 670px;
  height: 635px;
  z-index: 1;
  background-color: #181818a6;
  padding: 20px 40px 0 40px;
}

.guess-the-word-text h3 {
  color: white;
  font-size: 55px;
  margin: 0 0 30px 0;
}

.guess-the-word-text h4 {
  color: white;
  font-size: 38px;
  font-weight: 500;
  padding-right: 40px;
}

.guess-the-word-text a {
  font-family: "montserrat", sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 9px;
  cursor: pointer;
  transition: all 0s;
  padding-left: 30px;
  text-decoration: none;
}

.projects-lists a::after {
  content: "";
  background-color: #2362bb;
  position: absolute;
  height: 10px;
  z-index: 2;
}

.guess-the-word .project-link1 a::after {
  top: 500px;
  left: 40px;
  width: 320px;
  transition: all 0.25s;
  transform-origin: bottom;
  display: block;
}

.guess-the-word .project-link2 a::after {
  top: 585px;
  left: 40px;
  width: 430px;
  transition: all 0.25s;
  transform-origin: bottom;
  display: block;
}
















    

    

  
    