/**** Mobile Styles ****/

/*** Global Styles ***/ 
body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #000000;
}

.content-wrapper {
    width: 1300px;
    margin: 0 auto;
    overflow: auto;
}


/*** Header Styles ***/
.homepage-hero .content-wrapper {
    height: 2400px;
}

.initial {
    background-color: #1b1f24;
    border-radius: 14px;
    color: #2f81f7;
    font-size: 50px;
    font-family: "Yellowtail", cursive;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 500;
    float: left;
    margin-right: 80px;
    padding: 15px 18px 15px 15px;
  }

.full-name {
    width: 0px;
    visibility: hidden;
}

header h2 {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 600;
    clear: both;
    font-size: 120px;
    margin: 0;
    padding: 900px 0px 0px 50px;
    color: white;
}

.typed-fade-out span {
    color: #2f81f7;
}


header h3 {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 50px;
    margin-top: 20px;
    color: white;
    width: 1280px;
    text-align: center;
}

.button-wrapper {
  border: 6px solid #2f81f7;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 500px;
  margin-left: 390px;
  animation-name: moveInBottom;
  animation-duration: 0.7s;
  animation-delay: 2.7s;
  animation-fill-mode: backwards;
  cursor: pointer;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(4rem);
  }

  100% {
      opacity: 1;
      transform: translateY(0)
  }
}

.button-wrapper h3 {
  padding-left: 50px;
  margin: 0;
  color: #2f81f7;
}



.input {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    border-radius: 40px;
    align-items: center;
    margin-top: 15px;
    float: right;
    margin-right: 70px;
    background-color: #090a0c;
    width: 1280px;
    margin-right: 12px;
    margin-left: 5px;
    position: fixed;
    padding: 10px 0;
    z-index: 20;
  }

  
  .value {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 10px 0 10px;
  }
  
  .value:not(:active):hover,
  .value:focus {
    background-color: #21262c;
  }
  
  .value:focus,
  .value:active {
    background-color: #1a1f24;
    outline: none;
  }
  
  .value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 80%;
    background-color: #2f81f7;
    border-radius: 5px;
    opacity: 0;
  }
  
  .value:focus::before,
  .value:active::before {
    opacity: 1;
  }
  
  .value svg {
    width: 2px;
  }

  .input .value p {
    font-size: 40px;
    font-family: "Space Grotesk", sans-serif;
    margin: 0px;
  }

  canvas {
    display: block;
    vertical-align: bottom;
  } 

  #particles-js {
    position: absolute;
    width: 1300px;
    height: 2700px;
    background-color: #00000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    }

  
    