/**** Mobile Styles ****/

/*** Global Styles ***/ 
html, body {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #000000;
    margin: 0;
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    z-index: -2;
    position: absolute;
  }
  
  .content-wrapper {
      margin: 0;
      overflow: hidden;
      width: 100%;
  }
  
  
  /*** Header Styles ***/
  .homepage-hero .content-wrapper {
      height: 100vh;
      margin: 0;
  }
  
  
  header h2 {
      font-family: "Space Grotesk", sans-serif;
      font-style: normal;
      font-optical-sizing: auto;
      font-weight: 600;
      clear: both;
      font-size: 9vw;
      margin: 0;
      color: white;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 35vh 0 0 0;
  }
  
  .typed-fade-out span {
      color: #2f81f7;
  }
  
  .blue {
      color: #2f81f7;
      transition: all 0.2s;
  }
  
  
  header h3 {
      font-family: "Space Grotesk", sans-serif;
      font-style: normal;
      font-optical-sizing: auto;
      font-weight: 500;
      font-size: 3.3vw;
      color: white;
      text-align: center;
      width: 90%;
      -webkit-animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.3s both;
      animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.3s both;
  }

  .h3-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .button-wrapper {
    border: 2px solid #2f81f7;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.3s both;
      animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.3s both;
    cursor: pointer;
    width: 35vw;
    height: 7vw;
  }
  
  @-webkit-keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  
  .button-wrapper a {
    margin: 0;
    color: #2f81f7;
    text-decoration: none;
    font-size: 3.2vw;
   }
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.4s both;
    animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.4s both;
    height: 13vw;
    margin-left: 1vw;
  }

  .social-icons svg {
    width: 7.5vw;
  }
  
  .social-icons a {
    margin: 0 4vw;
    cursor: pointer;
  }
  
  .social-icons a img {
    width: 10vw;
  }
  
  @-webkit-keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(500px) scaleY(2.5) scaleX(0.2);
              transform: translateY(500px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

  @keyframes shadow-drop-2-tl {
    0% {
      -webkit-transform: translateZ(0) translateX(0) translateY(0);
              transform: translateZ(0) translateX(0) translateY(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateX(12px) translateY(12px);
              transform: translateZ(50px) translateX(12px) translateY(12px);
      -webkit-box-shadow: -12px -12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: -12px -12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
  
  .input {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
      border-radius: 4px;
      align-items: center;
      background-color: #1a1f24;
      width: 100%;
      position: sticky;
      padding: 0.9rem 0;
      z-index: 99;
      top: 0;
      bottom: -5vh;
      left: 0;
    }

    .value {
      background-color: transparent;
      border: none;
      padding: 4px 2px;
      color: white;
      display: flex;
      position: relative;
      gap: 5px;
      cursor: pointer;
      border-radius: 5px;
      transition: all .5s;
    }
    
    .value:not(:active):hover,
    .value:focus {
      background-color: #2b323a;
      animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    .value:focus,
    .value:active {
      background-color: #2b333b;
      outline: none;
    }
    
    .value::before {
      content: "";
      position: absolute;
      top: 2px;
      left: -5px;
      width: 2px;
      height: 80%;
      background-color: #2f81f7;
      border-radius: 2px;
      opacity: 0;
    }
  
    
    .value:focus::before,
    .value:active::before,
    .value:hover::before {
      opacity: 1;
    }
    
    .value svg {
      width: 2px;
    }
  
    .input .value a {
      font-size: 0.8rem;
      font-family: "Space Grotesk", sans-serif;
      margin: 0px;
      text-decoration: none;
      color: white;
      font-weight: 500;
    }
  
  
    #particles-js {
      position: absolute;
      width: 100%;
      height: 500vmax;
      z-index: -1;
      overflow-y: hidden;
      }
  
      /*** About Me ***/
  
      .about .content-wrapper {
        width: 100%;
        height: 120vw;
        overflow: hidden;
        padding-top: 100px;
      }
  
      #about {
        width: 100%;
      }

      .slide-in-fwd-center {
        animation: slide-in-fwd-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }


      @keyframes slide-in-fwd-center {
        0% {
          transform: translateZ(-1400px) translateY(40px);
          filter: blur(3px);
          opacity: 1;
        }
        100% {
                  transform: translateZ(0) translateY(0);
                  filter: blur(0px);
          opacity: 1;
        }
      }

      .slide-in1 {
        width: 1px;
        height: 1px;
        position: relative;
        top: 12rem;
      }

      .slide-in2 {
        width: 1px;
        height: 1px;
        position: relative;
        top: 25rem;
      }
      
      .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 8.5vw;
        color: white;
        width: 100%;
        margin-bottom: 12px;
      text-shadow: #1a1f24 0px 0px 15px;
      }

      .about-me:after {
        content: "";
        width: 38VW;
        height: 4vw;
        background-color: #2f81f7;
        position: relative;
        bottom: 4vw;
        left: 5.3vw;
        z-index: -1;
      } 
  
      .about-desc-container,
      .fun-fact-desc-container {
        width: 100%;
        display: flex;
        justify-content: center;
      }
  
      .desc-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  
      .about-desc {
        height: 90px;
        font-size: 2.9vw;
        color: white;
        font-weight: 500;
        width: 70vw;
        opacity: 0;
      }

      .fun-fact {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 6.2vw;
        color: white;
        height: 25vw;
        width: 100%;
      text-shadow: #1a1f24 0px 0px 15px;
      }

      .fun-fact-desc {
        height: 96px;
        font-size: 2.7vw;
        color: white;
        font-weight: 500;
        width: 70vw;
        position: relative;
        bottom: 4em;
        opacity: 0;
      }
  
      .fun-fact::after {
        content: "";
        width: 25vw;
        height: 3vw;
        background-color: #2f81f7;
        z-index: -1;
        position: relative;
        left: 3.4vw;
        top: -3vw;
        }
  
  /*** Skills section ***/
  
  @-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              -webkit-filter: blur(5px);
              filter: blur(5px);
              opacity: 1;
              text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              -webkit-filter: blur(0px);
              filter: blur(0px);
              opacity: 1;
    }
  }

  
  .pop1 {
      -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      opacity: 1;
  }
  
  
  .skills  {
    height: 75vw;
  }
  
  .skill-list h3 {
    color: white;
    font-size: 3vw;
    margin: 7px 0 0 0;
  }
  
  
  .skill-row1,
  .skill-row2,
  .skill-row3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    justify-content: space-evenly;
    height: 56vw;
  }
  
  .skill-rows {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .skill-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent; 
    background-clip: content-box, border-box;
    background-origin: border-box;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), radial-gradient(circle at top left, white, white);
    border-radius: 8px;
    border-image-slice: 1;
    padding: 1px;
    width: 20vw;
    height: 14vw;
    box-shadow: 0 0 15px 1px #2f81f7;
    opacity: 0;
  }
  
  .skills svg {
    width: 1px;
    height: 14vw;
    position: relative;
    bottom: 92vw;
  }
  
  .skill-list img {
    width: 6vw;
  }
  
  /*** Projects ***/

  
  @-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(200px);
              transform: translateY(200px);
    -webkit-filter: blur(10px);
            filter: blur(10px);
            opacity: 1;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    -webkit-filter: blur(0);
            filter: blur(0);
      opacity: 1;
    }
  }

  .projects-laptop {
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
  }
  
  .blurred-in-bottom {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000)  both;
      animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000)  both;
  }
  
  
  
  .projects-lists svg {
    width: 0px;
    height: 0px;
    position: relative;
    top: 100px;
  }
  
  #projects .content-wrapper {
    overflow-x: hidden;
  }

  .project-link1 {
    margin-bottom: 0.3rem;
  }
  
  .project-h2 h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 9vw;
      color: white;
      width: 100%;
      margin: 0;
      padding: 80px 0 80px 0;
      text-shadow: #1a1f24 0px 0px 15px;
  }
  
  .project-h2 h2::after {
    content: "";
    width: 35vw;
    height: 4vw;
    background-color: #2f81f7;
    z-index: -1;
    position: relative;
    left: 5.5vw;
    bottom: 4vw;
  }
  
  /* Unplugged */
  
  .unplugged, 
  .recipe-app,
  .sticky-note,
  .rogue-pickings,
  .guess-the-word {
    height: 60vw;
    width: 100%;
  }
  
  
  .projects-lists img {
    width: 85%;
}

  .unplugged-text img,
  .recipe-app-text img,
  .sticky-note-text img,
  .rogue-pickings-text img,
  .guess-the-word-text img {
    visibility: hidden;
    opacity: 0;
    width: 0px;
  }
  
  .unplugged .img-background {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 46vw;
    width: 60%;
    z-index: -2;
    opacity: 0;
    background-image: radial-gradient( circle 382px at 50% 50.2%,  #2f81f7 0.1%, rgb(1, 4, 50) 100.2% );
    }

  .unplugged .text-container {
    z-index: 1;
    background-color: #181818a6;
    padding: 4vw;  
    width: 55%;
    height: 38vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  
  
  .unplugged-text {
    opacity: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    top: -46vw;
  }
  
  .unplugged-text h3 {
    color: white;
    font-size: 5vw;
    margin: 0 0 0 0;
  }
  
  .unplugged-text h4 {
    color: white;
    font-size: 3vw;
    font-weight: 500;
    margin: 3vw 0 3vw 0;
  }
  
  .unplugged-text a {
    font-family: "montserrat", sans-serif;
    color: white;
    font-size: 3vw;
    font-weight: 700;
    letter-spacing: 4px;
    cursor: pointer;
    transition: all 0s;
    padding-left: 15px;
    text-decoration: none;
  }
  
  .projects-lists a::after {
    content: "";
    background-color: #2362bb;
    position: relative;
    height: 2px;
    z-index: 2;
  }
  
  .project-link1 a:hover::after {
    transform: scaleY(12);
    z-index: -1;
  }
  
  .project-link2 a:hover::after {
    transform: scaleY(12);
    z-index: -1;
  }


  .project-link1 a {
    position: relative;
  }

  .project-link2 a {
    position: relative;
  }
  
  .project-link1 a::after {
    position: relative;
    width: 100%;
    transition: all 0.25s;
    transform-origin: bottom;
    display: block;
    left: 0.5rem;
  }
  
  .project-link2 a::after {
    position: relative;
    left: 0.5rem;
    width: 100%;
    transition: all 0.25s;
    transform-origin: bottom;
    display: block;
  }
  
  .projects-lists {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  /* Recipe app */
  
  
  .recipe-app .img-background {
    background-image: radial-gradient( circle 382px at 50% 50.2%,  #2f81f7 0.1%, rgb(1, 4, 50) 100.2% );
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 46vw;
    width: 60%;
    z-index: -2;
    opacity: 0;
    left: 40vw;
  }

  .recipe-app-img-container {
    display: flex;
    justify-content: flex-end;
  }

  .recipe-app .text-container {
    z-index: 1;
    background-color: #181818a6;
    padding: 4vw;  
    width: 55%;
    height: 38vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .recipe-app-text {
    opacity: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    top: -46vw;
  }
  
  .recipe-app-text h3 {
    color: white;
    font-size: 5vw;
    margin: 0 0 0 0;
  }
  
  .recipe-app-text h4 {
    color: white;
    font-size: 3vw;
    font-weight: 500;
    margin: 10px 0;
    height: 18vw;
  }

  .recipe-app .project-link1 {
    margin: 0 0 2vw 0;
  }
  
  .recipe-app-text a {
    font-family: "montserrat", sans-serif;
    color: white;
    font-size: 3vw;
    font-weight: 700;
    letter-spacing: 4px;
    cursor: pointer;
    transition: all 0s;
    padding-left: 15px;
    text-decoration: none;
  }
  
  /* Sticky notes */
  
  
  .sticky-note .img-background {
    background-image: radial-gradient( circle 382px at 50% 50.2%,  #2f81f7 0.1%, rgb(1, 4, 50) 100.2% );   
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 46vw;
    width: 60%;
    z-index: -2;
    opacity: 0;
  }
  
  .sticky-note-text {
    opacity: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    top: -46vw;
  }

  .sticky-note .text-container {
    z-index: 1;
    background-color: #181818a6;
    padding: 4vw;  
    width: 55%;
    height: 38vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .sticky-note-text h3 {
    color: white;
    font-size: 5vw;
    margin: 0 0 0 0;
  }
  
  .sticky-note-text h4 {
    color: white;
    font-size: 3vw;
    font-weight: 500;
    margin: 3vw 0 5vw 0;
    height: 16vw;
  }
  
  .sticky-note-text a {
    font-family: "montserrat", sans-serif;
    color: white;
    font-size: 3vw;
    font-weight: 700;
    letter-spacing: 4px;
    cursor: pointer;
    transition: all 0s;
    padding-left: 15px;
    text-decoration: none;
  }
  
  .sticky-note .project-link1 a::after {
    position: relative;
    width: 100%;
    transition: all 0.25s;
    transform-origin: bottom;
    display: block;
    left: 0.5rem;
  }
  
  .sticky-note .project-link2 a::after {
    position: relative;
    left: 0.5rem;
    width: 100%;
    transition: all 0.25s;
    transform-origin: bottom;
    display: block;
  }
  
  /* Rogue pickings */

  .rogue-pickings .img-background {
    background-image: radial-gradient( circle 382px at 50% 50.2%,  #2f81f7 0.1%, rgb(1, 4, 50) 100.2% );   
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 46vw;
    width: 60%;
    z-index: -2;
    opacity: 0;
    left: 40vw;
  }
  
  .rogue-pickings-text {
    opacity: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    top: -46vw;
  }

  .rogue-pickings .text-container {
    z-index: 1;
    background-color: #181818a6;
    padding: 4vw;  
    width: 55%;
    height: 38vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .rogue-pickings-text h3 {
    color: white;
    font-size: 5vw;
    margin: 0 0 0 0;
  }
  
  .rogue-pickings-text h4 {
    color: white;
    font-size: 3vw;
    font-weight: 500;
    margin: 10px 0;
    height: 18vw;
  }
  
  .rogue-pickings-text a {
    font-family: "montserrat", sans-serif;
    color: white;
    font-size: 3vw;
    font-weight: 700;
    letter-spacing: 4px;
    cursor: pointer;
    transition: all 0s;
    padding-left: 15px;
    text-decoration: none;
  }
  
  /* Guess the word */
  
  .img-background {
    background-image: radial-gradient( circle 382px at 50% 50.2%,  #2f81f7 0.1%, rgb(1, 4, 50) 100.2% );
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 46vw;
    width: 60%;
    z-index: -2;
    opacity: 0;
  }
  
  .guess-the-word-text {
    opacity: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    top: -46vw;
  }

  .guess-the-word .text-container {
    z-index: 1;
    background-color: #181818a6;
    padding: 4vw;  
    width: 55%;
    height: 38vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .guess-the-word-text h3 {
    color: white;
    font-size: 5vw;
    margin: 0 0 0 0;
  }
  
  .guess-the-word-text h4 {
    color: white;
    font-size: 3vw;
    font-weight: 500;
    margin: 10px 0;
    height: 16vw;
  }
  
  .guess-the-word-text a {
    font-family: "montserrat", sans-serif;
    color: white;
    font-size: 3vw;
    font-weight: 700;
    letter-spacing: 4px;
    cursor: pointer;
    transition: all 0s;
    padding-left: 15px;
    text-decoration: none;
  }
  
  .guess-the-word .project-link1 a::after {
    position: relative;
    width: 100%;
    transition: all 0.25s;
    transform-origin: bottom;
    display: block;
    left: 0.5rem;
  }
  
  .guess-the-word .project-link2 a::after {
    position: relative;
    left: 0.5rem;
    width: 100%;
    transition: all 0.25s;
    transform-origin: bottom;
    display: block;
  }
  
  /** Contact section **/
  
  .contact-header h2 {
    color: white;
    font-size: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
    text-shadow: #1a1f24 0px 0px 15px;
  }
  
  .contact-header h2:after {
    content: "";
    width: 48vw;
    height: 5vw;
    background-color: #2f81f7;
    z-index: -1;
    position: relative;
    left: 5.5vw;
    bottom: 4.5vw;
  }
  
  .contact-form {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 70vw;  
  }
  
  form {
    position: relative;
    height: 70vmin;
    display: flex;
    justify-content: center;
  }
  
  .input-field input {
    width: 70vw;
    height: 5vw;
    margin: 10px 0 0px 0;
    font-size: 3vw;
    font-weight: 900;
    border: 0;
    color: white;
    background-color: #2b323a;
    outline: none;
}

.input-field input:focus,
.input-field textarea:focus {
  border: 2px solid white;
  box-shadow: 0 0 10px -1px white;
  outline: none;
}
  
  
  .input-field textarea {
    color: white;
    width: 70vw;
    height: 21vw;
    margin: 10px 0 0 0;
    font-size: 3vw;
    border: 0;
    font-weight: 900;
    background-color: #2b323a;
    resize: none;
    outline: 0;
  }
  
  .contact-form button {
    border: 0;
    font-size: 5vw;
    color: white;
    background: none;
    font-weight: 500;
    cursor: pointer;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 12vmin;
  }

  
  .contact-form button:after {
    content: "";
    background-color: #2362bb;
    height: 2px;
    position: relative;
    width: 24vw;
    display: block;
    cursor: pointer;
    transform-origin: bottom;
    transition: all 0.25s;
    display: block;
    z-index: 1;
  }
  
  .contact-form button:hover:after {
    transform: scaleY(16);
    z-index: 1;
  }
  
  .contact-form button span {
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: white;
  }

  @media screen and (min-width: 300px) {
    .contact-form button:hover:after {
    transform: scaleY(13);
    z-index: 1;
    }

    .project-link1 a:hover::after {
      transform: scaleY(11);
      z-index: -1;
    }

    .project-link2 a:hover::after {
      transform: scaleY(11);
      z-index: -1;
    }

    .about .content-wrapper {
      height: 105vw;
    }
  }


  @media screen and (min-width: 450px) {

    #particles-js {
      height: 450vmax;
    }

    .unplugged-text h4,
    .sticky-note-text h4,
    .guess-the-word-text h4 {
      margin-top: 2vw;
    }

    .project-link1 {
      margin-bottom: 0.7rem;
    }

    .contact-form button {
      margin-top: 3vw;
      transition: all 0.25s;
    }

    .contact-form button:hover:after {
      transform: scaleY(17);
      z-index: 1;
      }
  }

  @media screen and (min-width: 500px) {
    
    #particles-js {
      height: 500vmax;
    }

    .skill-list {
      box-shadow: 0 0 25px 1px #2f81f7;
    }

    .unplugged-text h3,
      .recipe-app-text h3,
      .sticky-note-text h3,
      .rogue-pickings-text h3,
      .guess-the-word-text h3 {
        font-size: 4.5vw;
      }

      .unplugged-text h4,
      .recipe-app-text h4,
      .sticky-note-text h4,
      .rogue-pickings-text h4,
      .guess-the-word-text h4 {
        font-size: 2.5vw;
        margin: 3vw 0;
        height: 15vw;
      }

      .project-link1 {
        margin-bottom: 2vw;
      }

      .project-link1 a,
      .project-link2 a {
        font-size: 2.5vw;
      }
  }

  @media screen and (min-width: 550px) {

      /** Landing Page **/

      
      /* Nav bar */
      .value {
          margin: 0 20px;
      }

      .input {
        justify-content: center;
      }

      .input .value a {
          font-size: 0.9rem;
      }

      /* Headers */

      .homepage-hero .content-wrapper {
        height: 100vh;
      }


      header h2 {
          font-size: 7vw;
      }

      header h3 {
          font-size: 2.5vw;
          width: 80%;
      }

      .h3-container {
        width: 100%;
      }

      /* Button/Socials */
      .button-wrapper {
          width: 27vw;
          height: 6vw;
      }

      .button-wrapper a {
          position: relative;
          font-size: 2.5vw;
      }

      .button-wrapper svg {
          width: 6vw;
      }

      .social-icons a img {
          width: 8.5vw;
      }

      .social-icons a svg {
          width: 6vw;
      }

      #particles-js {
        height: 500vmax;
      }

      /* About me */
      .about .content-wrapper {
          height: 30rem;
      }

      .about-me {
        font-size: 2.7rem;
      }

      .about-me::after {
        width: 11.5rem;
        bottom: 1.3rem;
        left: 1.4rem;
        height: 1.3rem;
    }

      .about-desc {
        position: relative;
        font-size: 0.9rem;
        bottom: 3vw;
      }

      .about-desc::after {
        top: -410px;
  }

      .fun-fact {
        position: relative;
        bottom: 5vw;
        font-size: 2rem;
      }

      .fun-fact::after {
        left: 1.1rem;
        width: 8rem;
        height: 1rem;
        top: -1rem;  
      }

      .fun-fact-desc {
        position: relative;
        bottom: 17vw;
        font-size: 0.9rem;
      }

      /* Skills */
      .skills {
        height: 25rem;
      }

      .skill-list {
        width: 6.5rem;
        height: 4.5rem;
      }


      .skill-list img {
        width: 2rem;
      }

      .skill-list h3 {
        font-size: 0.8rem;
      }

      .skill-row1,
      .skill-row2,
      .skill-row3 {
        width: 10rem;
        height: 20rem;
      }

      .skills svg {
        bottom: 430px;
      }

      /* Projects */

      .project-h2 h2 {
        font-size: 2.7rem;
        padding-top: 28vw;
      }

      .project-h2 h2::after {
        position: relative;
        width: 10rem;
        bottom: 1.3rem;
        left: 1.5rem;
        height: 1.3rem;
      }

      .projects-lists img {
        width: 50vw;
      }

      .projects-lists svg {
        top: 200px;
      }

      .projects-lists .img-background {
        width: 60%;
        height: 50vw;
      }

      .unplugged-text,
      .recipe-app-text,
      .sticky-note-text,
      .rogue-pickings-text,
      .guess-the-word-text {
        top: -43vw;
      }


      .unplugged-text h3,
      .recipe-app-text h3,
      .sticky-note-text h3,
      .rogue-pickings-text h3,
      .guess-the-word-text h3 {
        font-size: 4vw;
      }

      .unplugged-text h4,
      .recipe-app-text h4,
      .sticky-note-text h4,
      .rogue-pickings-text h4,
      .guess-the-word-text h4 {
        font-size: 2.1vw;
        margin: 3vw 0;
        height: 10vw;
        line-height: 2.8vw;
        padding-bottom: 4vw;
      }

      .recipe-app-text .text-container,
      .rogue-pickings-text .text-container {
        position: relative;
        bottom: 29vw;
      }

      .unplugged-text .text-container,
      .sticky-note-text .text-container,
      .guess-the-word-text .text-container {
        position: relative;
        bottom: 5vw;
      }

      .project-link1 {
        margin-bottom: 2vw;
      }

      .project-link1 a,
      .project-link2 a {
        font-size: 2vw;
      }

      .unplugged .project-link1 a::after,
      .recipe-app .project-link1 a::after,
      .sticky-note .project-link1 a::after,
      .rogue-pickings .project-link1 a::after,
      .guess-the-word .project-link1 a::after {
        width: 97%;
      }

      .unplugged .project-link2 a::after,
      .recipe-app .project-link2 a::after,
      .sticky-note .project-link2 a::after,
      .rogue-pickings .project-link2 a::after,
      .guess-the-word .project-link2 a::after {
        width: 97%;
      }

      /** Contact **/

      .contact-header h2 {
        font-size: 6vw;
      }

      .contact-header h2::after {
        width: 32%;
        height: 3vw;
        bottom: 3vw;
        left: 3.5vw;
      }

      .input-field input,
      .input-field textarea {
        font-size: 2.5vw;
        width: 60vw;
      }

      .contact-form button {
        font-size: 4vw;
        margin-top: 0;
      }

      .contact-form button:after {
        width: 80%;
      }

      .contact-form button:hover:after {
        transform: scaleY(16);
      }

      .contact-form {
        height: 60vw;
        width: 75%;
      }
}  

@media screen and (min-width: 600px) {

  #particles-js {
    height: 550vmax;
  }



  .contact-form button:hover:after {
    transform: scaleY(18);
  }

  .project-link1 a:hover::after {
    transform: scaleY(12);
    z-index: -1;
  }

  .project-link2 a:hover::after {
    transform: scaleY(12);
    z-index: -1;
  }

  .projects-lists img {
    width: 55vw;
  }

  .projects-lists .img-background {
    width: 65%;
    height: 50vw;
  }

  .unplugged,
  .recipe-app,
  .sticky-note,
  .rogue-pickings,
  .guess-the-word {
    height: 65vw;
  }


  .unplugged-text h3,
  .recipe-app-text h3,
  .sticky-note-text h3,
  .rogue-pickings-text h3,
  .guess-the-word-text h3 {
    font-size: 3.3vw;
  }

  .unplugged-text h4,
  .recipe-app-text h4,
  .sticky-note-text h4,
  .rogue-pickings-text h4,
  .guess-the-word-text h4 {
    font-size: 2vw;
    margin: 1rem 0 2rem 0;
    height: 5rem;
    line-height: 1.3rem;
    padding-bottom: 0;
  }

  .unplugged-text,
  .recipe-app-text,
  .sticky-note-text,
  .rogue-pickings-text,
  .guess-the-word-text {
    width: 100%;
  }


  .recipe-app-text .text-container,
  .rogue-pickings-text .text-container {
    position: relative;
    bottom: 28vw;
    height: 30vw;
  }

  .unplugged-text .text-container,
  .sticky-note-text .text-container,
  .guess-the-word-text .text-container {
    position: relative;
    bottom: 1vw;
    height: 30vw;
    width: 48.5%;
    }
  

  .project-link1 {
    margin-bottom: 1rem;
  }

  .project-link1 a,
  .project-link2 a {
    font-size: 2vw;
  }
}

@media screen and (min-width: 650px) {


  .fun-fact {
    height: 100px;
    bottom: 30px;
  }

  .fun-fact-desc {
    height: 455px;
    bottom: 75px;
  }

  .about-desc {
    bottom: 20px;
  }

  .contact-header h2 {
    font-size: 2.5rem;
  }

  .contact-header h2::after {
    width: 220px;
    height: 22.5px;
    bottom: 1.2rem;
    left: 1.6rem;
  }

  .input-field input,
  .input-field textarea {
    width: 25rem;
    font-size: 1rem;
  }

  .contact-form button {
    font-size: 1.6rem;
  }

  .contact-form button::after {
    width: 115px;
  }

}

@media screen and (min-width: 700px) {


  header h2 {
    justify-content: flex-start;
    padding-left: 2rem;
    }

  .h3-container {
    justify-content: flex-start;
    padding-left: 2rem;
    }

  header h3 {
      width: 30rem;
      font-size: 2.1vw;
      text-align: start;
    }


  .button-container {
    justify-content: flex-start;
    padding-left: 2rem;
    margin-top: 1.3rem;
  }

  .button-wrapper {
    width: 23vw;
    height: 5vw;
  }

  .button-wrapper a {
    font-size: 0.9rem;
    padding-right: 0.4rem;
  }

  .button-wrapper a svg {
    width: 2rem;
  }

  .social-icons {
    width: 9rem;
    bottom: 4rem;
    position: relative;
    right: -16rem;
    margin-left: 0;
    height: 5.7rem;
  }

  .social-icons a {
    margin: 0 1.1rem;
  }

  .social-icons a svg {
    width: 4vw;
  }

  .social-icons a img {
    width: 5.5vw;
  }

  #particles-js {
    height:600vh;
  }

  .about-desc,
  .fun-fact-desc {
    width: 486px;
  }

  .skills svg {
    bottom: 400px;
  }

  .unplugged .text-container,
  .sticky-note-text .text-container,
  .guess-the-word-text .text-container {
    height: 25vw;
    width: 34%;
    bottom: -2vw;
  }

  .recipe-app-text .text-container,
  .rogue-pickings-text .text-container {
    height: 25vw;
    width: 38%;
    bottom: 25vw;
  }

  .unplugged-text h3,
  .recipe-app-text h3,
  .sticky-note-text h3,
  .rogue-pickings-text h3,
  .guess-the-word-text h3 {
    font-size: 3.1vw;
  }

  .unplugged-text h4,
  .recipe-app-text h4,
  .sticky-note-text h4,
  .rogue-pickings-text h4,
  .guess-the-word-text h4 {
    font-size: 1.8vw;
  }

  .unplugged-text h4,
  .recipe-app-text h4 {
    font-size: 1.65vw;
  }

  .project-link1 a,
  .project-link2 a {
    font-size: 1.8vw;
  }
}

@media screen and (min-width: 800px) {
  header h2 {
    font-size: 3rem;
  }

  header h3 {
    font-size: 1rem;
  }

  .button-wrapper {
    width: 10rem;
    height: 2rem;
  }

  .about .content-wrapper {
    height: 28rem;
  }

  .social-icons a svg {
    width: 1.8rem;
    transition: all 0.4s ease-in-out;
  }

  .social-icons a,
  .social-icons {
    transition: all 0.4s ease-in-out;
  }

  .social-icons a svg:hover{
      width: 2.6rem;
  }

  .social-icons a img:hover {
    width: 3.3rem;
  }

  .social-icons a img {
    width: 2.5rem;
    transition: all 0.4s ease-in-out;
  }

  @-webkit-keyframes text-pop-up-top2 {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    100% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
  }

  .skill-list img {
    width: 1.9rem;
  }

  .skill-list h3 {
    font-size: 0.8rem;
  }

  .skill-list {
    width: 6.5rem;
    height: 4.5rem;
  }


  .project-h2 h2 {
    padding-top: 5rem;
    padding-bottom: 10rem;
  }

  .unplugged .img-background,
  .sticky-note .img-background,
  .guess-the-word .img-background,
  .unplugged-img-container,
  .sticky-note-img-container,
  .guess-the-word-img-container {
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
  }

  .recipe-app .img-background,
  .rogue-pickings .img-background,
  .recipe-app-img-container,
  .rogue-pickings-img-container {
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
  }

  .unplugged,
  .sticky-note,
  .guess-the-word {
    height: 55vw;
  }

  .recipe-app,
  .rogue-pickings {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    margin-bottom: 6rem;
  }

  .unplugged-text,
  .sticky-note-text,
  .guess-the-word-text {
    justify-content: flex-start;
    width: 65%;
    top: 0;
  }

  .rogue-pickings-text,
  .recipe-app-text {
    justify-content: flex-end;
    width: 65%;
    top: 0;
  }

  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -1rem;
    height: 15.5rem;
    width: 13rem;
    left: 24.5rem;
    padding: 1.5rem;
  }

  .recipe-app .text-container,
  .rogue-pickings .text-container {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -1rem;
    height: 15.5rem;
    width: 13rem;
    left: 24.5rem;
    padding: 1.5rem;
  }

  .unplugged .text-container h3,
  .sticky-note .text-container h3,
  .recipe-app .text-container h3,
  .rogue-pickings-text .text-container h3,
  .guess-the-word-text .text-container h3 {
    font-size: 1.4rem;
  }

  .unplugged .text-container h4,
  .sticky-note .text-container h4,
  .recipe-app .text-container h4,
  .rogue-pickings-text .text-container h4,
  .guess-the-word-text .text-container h4 {
    font-size: 0.78rem;
    margin-bottom: 4rem;
  }

  .unplugged .text-container .project-link1 a,
  .unplugged .text-container .project-link2 a,
  .recipe-app .text-container .project-link1 a,
  .recipe-app .text-container .project-link2 a,
  .rogue-pickings .text-container .project-link1 a,
  .rogue-pickings .text-container .project-link2 a,
  .sticky-note .text-container .project-link1 a,
  .sticky-note .text-container .project-link2 a,
  .guess-the-word .text-container .project-link1 a,
  .guess-the-word .text-container .project-link2 a {
    font-size: 0.77rem;
  }


  .unplugged-text img,
  .sticky-note-text img,
  .guess-the-word-text img {
    border-style: solid;
    border-width: 70px;
    border-left-width: 0;
    border-image: radial-gradient(circle 382px at 50% 50.2%, #2f81f7 0.1%, rgb(1, 4, 50) 100.2%);
    border-image-slice: 50;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: all 0.5s ease-in-out;
    position: relative;
    opacity: 1;
    width: 57vw;
    top: 0rem;
    visibility: visible;
  }

  .recipe-app-text img,
  .rogue-pickings-text img {
    border-style: solid;
    border-width: 70px;
    border-right-width: 0;
    border-image: radial-gradient(circle 382px at 50% 50.2%, #2f81f7 0.1%, rgb(1, 4, 50) 100.2%);
    border-image-slice: 50;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 0.5s ease-in-out;
    position: relative;
    opacity: 1;
    width: 57vw;
    top: 0rem;
    visibility: visible;
  }

  .unplugged-text img:hover, 
  .unplugged-text:hover img,
  .sticky-note-text img:hover,
  .sticky-note-text:hover img,
  .guess-the-word-text img:hover,
  .guess-the-word-text:hover img {
    width: 64vw;
    border: 2px solid white;
    border-left-width: 0;
    transition: all 0.5s ease-in-out;
  }

  .recipe-app-text img:hover,
  .recipe-app-text:hover img,
  .rogue-pickings-text img:hover,
  .rogue-pickings-text:hover img {
    width: 64vw;
    border: 2px solid white;
    border-right-width: 0;
    transition: all 0.5s ease-in-out;
  }



  .unplugged-text:hover,
  .sticky-note-text:hover,
  .guess-the-word-text:hover,
  .recipe-app-text:hover,
  .rogue-pickings-text:hover {
    width: 100%;
  }
 
  .unplugged-text:hover .text-container,
  .sticky-note-text:hover .text-container,
  .guess-the-word-text:hover .text-container {
    visibility: visible;
    opacity: 1;
    animation: animate-slide 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    transition: all 0.65s ease-in-out;
    }

  .recipe-app-text:hover .text-container,
  .rogue-pickings-text:hover .text-container {
    visibility: visible;
    opacity: 1;
    animation: animate-slide2 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    transition: all 0.65s ease-in-out;
    }

    @keyframes animate-slide2 {
      0% {
        transform: translateX(0%);
        z-index: -1;
      }
  
      100% {
        transform: translateX(-150%);
        z-index: 1;
      }
    }

  @keyframes animate-slide {
    0% {
      transform: translateX(0%);
      z-index: -1;
    }

    100% {
      transform: translateX(55%);
      z-index: 1;
    }
  }

  .blurred-in-bottom {
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000)  both;
    opacity: 1;
  }

  .input-field input {
    height: 2.5rem;
  }

  .input-field textarea {
    height: 10rem;
    padding-top: 0.7rem;
  }

  .contact-header form {
    height: 50vh;
  }
}

@media screen and (min-width: 850px) {
  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    left: 27.5rem;
  }

  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 25rem;
  }
}

@media screen and (min-width: 900px) {
  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    left: 30rem;
    top: -0.5rem;
  }

  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 25.5rem;
    top: -0.5rem;
  }
}

@media screen and (min-width: 950px) {
  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    left: 33rem;
    top: 0;
  }

  .recipe-app .text-container,
  .rogue-pickings .text-container {
    top: 0rem;
  }
}

@media screen and (min-width: 1000px) {
  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    left: 34rem;
    width: 14rem;
    top: 7px;
  }

  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 28rem;
    width: 14rem;
    top: 7px;
  }
}

@media screen and (min-width: 1050px) {
  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    left: 36.5rem;
  }
}

@media screen and (min-width: 1100px) {

  #particles-js {
    height: 600vh;
  }

  .value {
    margin: 0 40px;
  }

  .input value a {
    font-size: 1rem;
  }

  .unplugged-text,
  .sticky-note-text,
  .guess-the-word-text {
    width: 42rem;
  }

  .recipe-app-text,
  .rogue-pickings-text {
    width: 42rem;
  }

  .unplugged,
  .sticky-note,
  .guess-the-word {
    height: 37rem;
  }

  .recipe-app,
  .rogue-pickings {
    margin-bottom: 10rem;
  }

  .unplugged-text img,
  .sticky-note-text img,
  .guess-the-word-text img {
    width: 38rem;
  }

  .recipe-app-text img,
  .rogue-pickings-text img {
    width: 38rem;
  }

  .unplugged-text img:hover, 
  .unplugged-text:hover img,
  .sticky-note-text img:hover,
  .sticky-note-text:hover img,
  .guess-the-word-text img:hover,
  .guess-the-word-text:hover img {
    width: 45rem;
  }

  .recipe-app-text img:hover,
  .recipe-app-text:hover img,
  .rogue-pickings-text img:hover,
  .rogue-pickings-text:hover img {
    width: 45rem;
  }

  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    left: 37rem;
    width: 16rem;
    top: 25px;
  }

  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 31rem;
    width: 16rem;
    top: 25px;
  }
}

@media screen and (min-width: 1200px) {

  header h2 {
    font-size: 3.5rem;
    padding-left: 4rem;
  }

  header h3 {
    font-size: 1.1rem;
  }

  .h3-container {
    padding-left: 4rem;
  }

  .button-container {
    padding-left: 4rem;
  }

  .recipe-app .project-link1 {
    margin-bottom: 1.5vw;
  }

  .unplugged-text,
  .sticky-note-text,
  .guess-the-word-text {
    position: relative;
    left: 2rem;
    width: 49rem;
  }

  .recipe-app-text,
  .rogue-pickings-text {
    width: 49rem;
    position: relative;
    right: 2rem;
  }

  .unplugged-text img,
  .sticky-note-text img,
  .guess-the-word-text img,
  .recipe-app-text img,
  .rogue-pickings-text img {
    left: 0;
  }

  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 35rem;
  }

  .unplugged-text img,
  .sticky-note-text img,
  .guess-the-word-text img {
    border-left-width: 70px;
    border-radius: 10px;
  }

  .recipe-app-text img,
  .rogue-pickings-text img {
    border-right-width: 70px;
    border-radius: 10px;
  }

  .unplugged-text img:hover, 
  .unplugged-text:hover img,
  .sticky-note-text img:hover,
  .sticky-note-text:hover img,
  .guess-the-word-text img:hover,
  .guess-the-word-text:hover img {
    border: 2px solid white;
  }

  .recipe-app-text img:hover,
  .recipe-app-text:hover img,
  .rogue-pickings-text img:hover,
  .rogue-pickings-text:hover img {
    border: 2px solid white;
  }
}

@media screen and (min-width: 1250px) {
  .unplugged-text,
  .sticky-note-text,
  .guess-the-word-text {
    left: 5rem;
  }

  .recipe-app-text,    
  .rogue-pickings-text {
    right: 5rem;
  }

  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    left: 39rem;
  }

  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 38rem;
  }
}

@media screen and (min-width: 1300px) {

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .about .content-wrapper {
    width: 41rem;
  }

  .skills {
    width: 38rem;
    padding-top: 6rem;
  }

  .skills svg {
    bottom: 440px;
    height: 11vw;
  }

  .unplugged-text,
  .sticky-note-text,
  .guess-the-word-text {
    left: 6rem;
  }

  .recipe-app-text,    
  .rogue-pickings-text {
    right: 6rem;
  }

  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    left: 40rem;
  }

  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 40rem;
  }
}

@media screen and (min-width: 1350px) {
  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    left: 38rem;
  }

  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 45rem;
  }
}

@media screen and (min-width: 1400px) {

  header h2 {
    font-size: 4rem;
  }

  header h3 {
    font-size: 1.15rem;
  }

  .unplugged-text,
  .sticky-note-text,
  .guess-the-word-text {
    left: 7rem;
  }

  .recipe-app-text,
  .rogue-pickings-text {
    right: 7rem;
  }

  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    left: 41rem;
  }

  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 45rem;
  }
}

@media screen and (min-width: 1450px) {
  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 48rem;
    width: 17rem;
  }

  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    width: 17rem;
  }

  .unplugged .text-container .project-link1 a,
  .unplugged .text-container .project-link2 a,
  .recipe-app .text-container .project-link1 a,
  .recipe-app .text-container .project-link2 a,
  .rogue-pickings .text-container .project-link1 a,
  .rogue-pickings .text-container .project-link2 a,
  .sticky-note .text-container .project-link1 a,
  .sticky-note .text-container .project-link2 a,
  .guess-the-word .text-container .project-link1 a,
  .guess-the-word .text-container .project-link2 a {
    font-size: 0.8rem;
  }

  .unplugged .text-container h4,
  .sticky-note .text-container h4,
  .recipe-app .text-container h4,
  .rogue-pickings-text .text-container h4,
  .guess-the-word-text .text-container h4 {
    font-size: 0.82rem;
  }

  .unplugged .text-container h3,
  .sticky-note .text-container h3,
  .recipe-app .text-container h3,
  .rogue-pickings-text .text-container h3,
  .guess-the-word-text .text-container h3 {
    font-size: 1.56rem;
  }
}

@media screen and (min-width: 1500px) {
  .unplugged-text,
  .sticky-note-text,
  .guess-the-word-text {
    position: relative;
    left: 10rem;
  }

  .recipe-app-text,
  .rogue-pickings-text {
    position: relative;
    right: 10rem;
  }

  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    left: 40rem;
  }

  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 53rem;
  }
}

@media screen and (min-width: 1550px) {
  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 56rem;
  }

  .recipe-app-text,
  .rogue-pickings-text {
    position: relative;
    right: 13rem;
  }

  .unplugged-text,
  .sticky-note-text,
  .guess-the-word-text {
    position: relative;
    left: 13rem;
  }
}

@media screen and (min-width: 1600px) {

  .unplugged-text img,
  .sticky-note-text img,
  .guess-the-word-text img {
    width: 41rem;
  }

  .recipe-app-text img,
  .rogue-pickings-text img {
    width: 41rem;
  }

  .unplugged-text img:hover, 
  .unplugged-text:hover img,
  .sticky-note-text img:hover,
  .sticky-note-text:hover img,
  .guess-the-word-text img:hover,
  .guess-the-word-text:hover img {
    width: 48rem;
  }

  .recipe-app-text img:hover,
  .recipe-app-text:hover img,
  .rogue-pickings-text img:hover,
  .rogue-pickings-text:hover img {
    width: 48rem;
  }

  .unplugged-text,
  .sticky-note-text,
  .guess-the-word-text {
    position: relative;
    left: 11rem;
  }

  .recipe-app-text,
  .rogue-pickings-text {
    position: relative;
    right: 11rem;
  }

  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    left: 36rem;
    width: 24rem;
  }

  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 63rem;
    width: 24rem;
  }

  .unplugged .text-container h3,
  .sticky-note .text-container h3,
  .guess-the-word .text-container h3,
  .recipe-app .text-container h3,
  .rogue-pickings .text-container h3 {
    font-size: 1.7rem;
  }

  .unplugged .text-container h4,
  .sticky-note .text-container h4,
  .guess-the-word .text-container h4,
  .recipe-app .text-container h4,
  .rogue-pickings .text-container h4 {
    font-size: 0.9rem;
  }

    .unplugged .text-container .project-link1 a,
    .unplugged .text-container .project-link2 a,
    .recipe-app .text-container .project-link1 a,
    .recipe-app .text-container .project-link2 a,
    .rogue-pickings .text-container .project-link1 a,
    .rogue-pickings .text-container .project-link2 a,
    .sticky-note .text-container .project-link1 a,
    .sticky-note .text-container .project-link2 a,
    .guess-the-word .text-container .project-link1 a,
    .guess-the-word .text-container .project-link2 a {
      font-size: 0.79rem;
    }
}

@media screen and (min-width: 1650px) {
  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 66rem;
  }
}

@media screen and (min-width: 1700px) {
  .unplugged-text,
  .sticky-note-text,
  .guess-the-word-text {
    left: 14rem;
  }

  .recipe-app-text,
  .rogue-pickings-text {
    right: 14rem;
  }

  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    left: 36rem;
  }

  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 69rem;
  }
}

@media screen and (min-width: 1750px) {
  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 72rem;
  }
}

@media screen and (min-width: 1800px) {
  .unplugged-text,
  .sticky-note-text,
  .guess-the-word-text {
    left: 16rem;
  }

  .recipe-app-text,
  .rogue-pickings-text {
    right: 16rem;
  }

  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    left: 36rem;
  }

  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 74rem;
  }
}

@media screen and (min-width: 1850px) {
  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 78rem;
  }
}

@media screen and (min-width: 1900px) {
  .unplugged-text,
  .sticky-note-text,
  .guess-the-word-text {
    left: 18rem;
  }

  .recipe-app-text,
  .rogue-pickings-text {
    right: 18rem;
  }

  .unplugged .text-container,
  .sticky-note .text-container,
  .guess-the-word .text-container {
    left: 36rem;
  }

  .recipe-app .text-container,
  .rogue-pickings .text-container {
    left: 80rem;
  }
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
      
  
      
  
    
      